@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --cor-principal: #145bd5;
    --cor-secundaria: #161618;
    --cor-media: #8baeea;
    --cor-clara: #e8f0fb;
    --font-principal: "Funnel Display";
    --font-secundaria: "Outfit", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg, #18181b, #081d42, #18181b);
    color: var(--cor-clara);
    font-family: var(--font-principal);
    font-weight: 100;
}


.header {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: url(assets/grid3.png);
    height: 34em;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: var(--cor-principal) solid 5px;
}

.header__text {
    margin-top: -6em;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.titulo {
    align-items: center;
    justify-content: center;
}

.header__descricao {
    margin-top: -3em;
    text-align: center;
    font-size: 1.7em;
}

.titulo {
    display: flex;
    margin: 70px 0 70px 0;
    padding: 20px;
    justify-content: center;
    font-size: 8em;
    font-family: var(--font-principal);
    font-weight: 900;
    color: var(--cor-principal);
}

.main__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.desafio__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px;
    padding: 30px;
    background-color: var(--cor-secundaria);
    border: var(--cor-clara) solid 1px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.desafio__dia1,
.desafio__dia2,
.desafio__dia3,
.desafio__dia4, 
.desafio__dia5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-secundaria);
    font-weight: 300;
}

.desafio__tema {
    font-size: 2em;
    font-weight: 400;
    margin: 20px;
}

.desafio__descricao {
    margin-top: 20px;
    text-align: left;
    font-size: 1.3em;
}

.desafio__dia1__resposta {
    text-align: left;
    margin: 40px;
    font-size: 0.6em;
    font-weight: 300;
}

span {
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1.5em;
    color: var(--cor-principal);
}

.span__dia1 {
    font-family: var(--font-principal);
    font-weight: 200;
    font-size: 1em;
    color: var(--cor-principal);
}

.segunda__pergunta__span {
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1em;
    color: var(--cor-principal);
}

hr {
    width: 100%;
}

.desafio__dia2__codigo,
.desafio__dia1__codigo,
.desafio__dia3__codigo,
.desafio__dia4__codigo,
.desafio__dia5__codigo {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-family: var(--font-secundaria);
    font-weight: 500;
}

.desafio__dia2__input {
    margin: 20px;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 40em;
    height: 4em;
    border-radius: 20px;
}

.desafio__dia3__btn__area,
.desafio__dia5__btn__area,
.desafio__dia5__btn__categorias,
.desafio__dia3__btn__frontend,
.desafio__dia3__btn__backend,
.desafio__dia3__btn__sequencia {
    display: flex;
    gap: 25px;
    margin: 40px;
}

.btn__default {
    align-self: center;
    background-color: var(--cor-principal);
    color: var(--cor-clara);
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 60%;
    font-size: 0.8em;
    font-family: var(--font-principal);
    font-weight: 500;
    cursor: pointer;
}

.btn__default:hover {
    background-color: #0a2b60;
    transition: 0.2s ease-in-out;
}

.btn__reset {
    align-self: center;
    color: var(--cor-principal);
    border: var(--cor-principal) solid 2px;
    border-radius: 30px;
    padding: 4px;
    margin: 10px;
    width: 30%;
    height: 3em;
    font-size: 0.9em;
    font-family: var(--font-principal);
    cursor: pointer;
}

#desafio__dia2__resposta:not(:empty) {
    border: var(--cor-principal) solid 2px;
}

#segunda__pergunta__resposta:not(:empty) {
    border: var(--cor-principal) solid 2px;
}

#desafio__dia2__resposta,
#segunda__pergunta__resposta {
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
    font-family: var(--font-principal);
    font-size: 1em;
    font-weight: 600;
    color: var(--cor-principal);
}

#sequencia__descricao,
#sequencia__descricao2 {
    margin: 20px;
    font-weight: 200;
    font-size: 0.8em;
    color: var(--cor-principal);
}

#perguntaLoop {
    gap: 30px;
}

.lista__tecnologias,
.lista__compras {
    font-weight: 300;
    font-size: 0.8em;
    list-style: none;
}

#desafio__dia4__resposta {
    margin-top: 40px;
    border-radius: 10px;
    font-family: var(--font-principal);
    font-size: 0.7em;
    font-weight: 600;
    color: var(--cor-principal);
}

.lista__compras__titulo{
    font-size: 2em;
    color: var(--cor-principal);
    font-family: var(--font-secundaria);
    font-weight: 200;
}

.lista__compras__itens{
    text-align: left;
    font-size: 1.5em;
    color: var(--cor-clara);
    font-family: var(--font-secundaria);
    font-weight: 200;
}

.item__da__lista{
        text-align: left;
        font-size: 1em;
        color: var(--cor-principal);
        font-family: var(--font-secundaria);
        font-weight: 200;
    
}

.footer {
    background-color: var(--cor-principal);
    color: var(--cor-clara);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-weight: 400;
    font-size: 20px;
    font-family: var(--font-secundaria);
    gap: 10px;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}



@media (max-width: 361px) {

    .header {
        width: 100%;
        height: 12em;
        margin-bottom: 2em;
    }

    .header__text,
    .header__descricao,
    .titulo {
        max-width: 90%;
        margin: 0 auto;
        margin-top: -20px
    }

    .header__descricao {
        font-size: 0.9em;
    }

    .titulo {
        font-size: 2.7em;
    }


    .desafio__container {
        width: 80%;
        /* Ajuste para não ultrapassar a tela */
        padding: 15px;
        margin: 20px auto;
        gap: 25px;
    }


    .desafio__tema {
        font-size: 2.5em;
        font-weight: 400;
        margin: 20px;
    }

    .desafio__descricao {
        margin-top: 1px;
        text-align: left;
        font-size: 1em;
    }

    .desafio__dia1__resposta {
        text-align: left;
        margin: 20px;
        font-size: 0.6em;
    }

    span {
        font-family: var(--font-principal);
        font-weight: 600;
        font-size: 1em;
        color: var(--cor-principal);
    }

    .span__dia1 {
        font-size: 1em;
    }

    .desafio__dia2__codigo,
    .desafio__dia1__codigo,
    .desafio__dia3__codigo,
    .desafio__dia4__codigo {
        font-size: 1.5em;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .desafio__dia2__input {
        margin: 20px;
        align-self: center;
        justify-content: center;
        text-align: center;
        width: 70%;
        height: 4em;
        border-radius: 20px;
    }
    .desafio__dia5__btn__area,
    .desafio__dia3__btn__area,
    .desafio__dia3__btn__frontend,
    .desafio__dia3__btn__backend,
    .desafio__dia3__btn__sequencia {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 20px;
    }

    .btn__default {
        width: 7em;
        font-size: 0.6em;
    }

    .btn__reset {
        width: 40%;
    }


}